out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:simpleType name="count">
   		<xs:restriction base="xs:string">
      			<xs:pattern value="[A-Z][A-Z][0-9]{6}[A-Z][A-Z]"/>
   			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string">
   		<xs:restriction base="xs:string">
      		<xs:pattern value="[A-Z][a-z]+"/>
   		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="bank" final="restriction" >
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="BPS" />
	        <xs:enumeration value="FNB" />
	        <xs:enumeration value="RTY" />
	    </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="integer">
	    <xs:restriction base="xs:positiveInteger">
	    	<xs:maxExclusive value="999999999"/>
	    </xs:restriction>
	</xs:simpleType>

	<xs:element name="ArrayList" >
		<xs:complexType> 
			<xs:sequence> 
				<xs:element name="user" minOccurs="0" maxOccurs="unbounded"> 
					<xs:complexType> 
						<xs:sequence> 
							<xs:element name="firstName" type="string" /> 
							<xs:element name="middleName" type="string" minOccurs="0"/> 
							<xs:element name="secondName" type="string"/> 
							<xs:element name="uId" type="integer" /> 
							<xs:element name="count" type="count" minOccurs="0"/>
							<xs:element name="bankUser" type="bank" minOccurs="0"/>
						</xs:sequence> 
					</xs:complexType> 
				</xs:element> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>